<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="ME.MonoNeonShooterV1"
    Publisher="CN=Admin"
    Version="1.0.17.0" />

  <mp:PhoneIdentity PhoneProductId="4dfa9039-8fac-471f-aca5-1c6f8564f920" PhonePublisherId="00001000-0000-e00e-0000-0000000ef000"/>

  <Properties>
    <DisplayName>NeonShooter</DisplayName>
    <PublisherDisplayName>mediaexplorer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.16299.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="NeonShooter.WindowsUWP.exe"
      EntryPoint="NeonShooter.WindowsUWP.App">
      <uap:VisualElements
        DisplayName="NeonShooter"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="NeonShooter UWP game sample"
        BackgroundColor="#464646">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="removableStorage"/>
  </Capabilities>
</Package>
